# Angular build artifacts
/dist/
/.angular/
/tmp/
/temp/

# Node modules
/node_modules/

# IDE files
/.idea/
/.vscode/
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Misc
.DS_Store
Thumbs.db
